
##
NET "CLK_IN" TNM_NET = "osc_clk_pin";
NET "CLK_IN" LOC = P24;
TIMESPEC TS_osc_clk_pin = PERIOD "osc_clk_pin" 50 MHz HIGH 50% INPUT_JITTER 200 ps;
##
#############################
NET "In_sig_pin"	LOC = P124	| IOSTANDARD = LVCMOS33;
NET	"ESP32_Ready"	LOC = P74	| IOSTANDARD = "LVCMOS33" | PULLDOWN; #ESP32_IO33
NET	"ESP32_clk"		LOC = P75	| IOSTANDARD = "LVCMOS33" | PULLDOWN; #ESP32_IO25
NET	"ESP32_Data[0]"	LOC = P88	| IOSTANDARD = "LVCMOS33"; #ESP32_IO23
NET	"ESP32_Data[1]"	LOC = P87	| IOSTANDARD = "LVCMOS33"; #ESP32_IO22
NET	"ESP32_Data[2]"	LOC = P78	| IOSTANDARD = "LVCMOS33"; #ESP32_IO26
NET	"ESP32_Data[3]"	LOC = P79	| IOSTANDARD = "LVCMOS33"; #ESP32_IO27
NET	"ESP32_Data[4]"	LOC = P80	| IOSTANDARD = "LVCMOS33"; #ESP32_IO14
NET	"ESP32_Data[5]"	LOC = P81	| IOSTANDARD = "LVCMOS33"; #ESP32_IO13
NET	"ESP32_Data[6]"	LOC = P85	| IOSTANDARD = "LVCMOS33"; #ESP32_IO21
NET	"ESP32_Data[7]"	LOC = P82	| IOSTANDARD = "LVCMOS33"; #ESP32_IO4

